@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:Light');
ul.main {
	left: 0;
	top: 0;
	bottom: 0;
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li.main {
	color: white;
	padding-top: 55px;
	font-size: 35px;
	padding-left: 12px;
	font-family: Source Code Pro;
}

li.main:hover {
	text-decoration: line-through;
	text-decoration-color: white;
}

.contactPads {
	border-radius: 25px;
	background-color: white;
	width: 600px;
	height: auto;
	margin: auto auto 60px auto;
	padding: 25px;
}

h3 {
	font-size: 40px;
	font-family: Source Code Pro;
	text-align: center;
}

ul.contact {
	margin: auto;
	padding: 10px;
	list-style-type: none;
	
}

li.contact {
	display: inline-block;
	margin: auto 25px auto 55px;
}

li.contact:hover {
	text-decoration: none;
}

ul.experienceUL {
	padding-top: 235px;
}

.experiencePad1 {
	width: 300px;
	margin-left: 800px;
	padding: 25px;
	background-color: white;
	border-radius: 25px;
}

h3.experience1 {
	font-size: 35px;
	font-family: Source Code Pro;
}

.experiencePad2 {
	width: 200px;
	background-color: white;
	margin: 25px;
	padding: 65px 25px;
	border-radius: 25px;
}

#experienceback {
	background-image: url(../images/photos/experienceBackground.jpg);
	background-size: contain;
	height: 968px;
	width: 1290px;
	margin: auto;
}

#experiencebackback {
	background-image: url(../images/photos/experienceBackBackground.jpg);
	background-size: cover;
}

.skillsPad {
	width: 800px;
	background-color: white;
	border-radius: 25px;
	top: 45px;
	left: 210px;
	position: relative;
	padding: 25px;
}

#homeback {
	background-image: url(../images/photos/HomeBGfixed.jpg);
    background-size: contain;
	height: 968px;
	width: 1290px;
	margin: auto;
}

#homebackback {
	background-image: url(../images/photos/HomeBackBackground.jpg);
	background-size: cover;
}

#skillsback {
	background-image: url(../images/photos/skillsBackground.jpg);
    background-size: contain;
	height: 968px;
	width: 1290px;
	margin: auto;
}

#skillsbackback {
	background-image: url(../images/photos/skillsBackBackground.jpg);
	background-size: cover;
}

#gallerybackback {
	background-image: url(../images/photos/galleryBackBackground.jpg);
	background-size: cover;
}

.logo {
	margin-top: 200px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#contactback {
	background-image: url(../images/photos/contactBackground.jpg);
    background-size: contain;
	height: 818px;
	width: 1290px;
	margin: auto;
	padding-top: 150px;
}

#contactbackback {
	background-image: url(../images/photos/contactBackBackground.jpg);
	background-size: cover;
}



html { overflow-y: scroll; }
body { 
  background: #f0f0f0; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}

/** typography **/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

a { color: #5a9352; text-decoration: none; }

.center { display: block; text-align: center; }


/** reset lightbox position **/
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** page structure **/
#gallery {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#thumbnails { display: block; margin-bottom: 10px; }
#thumbnails ul li { float: left; margin-right: 26px; margin-bottom: 12px; opacity:.5;  }
#thumbnails ul li:hover {opacity:1; transition:.5s;}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }